{% extends 'base.html' %}
{% load static %}
{% load units %}

{% block breadcrumb %}
{% if query %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
<li class="breadcrumb-item"><a href="{% url 'query'%}">Query</a></li>
<li class="breadcrumb-item active ">Quickview</li>
{% else %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
<li class="breadcrumb-item"><a href="{% url 'image_detail' image.pk %}">{{ image.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'image_crossmatches' image.pk %}">Crossmatches</a></li>
<li class="breadcrumb-item active ">Quickview</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col text-center">
{% if query %}      
<a href="{% url 'query' %}" class="btn btn-primary mx-auto">Back to Query</a>
{% else %}
<a href="{% url 'image_crossmatches' image.pk %}" class="btn btn-primary mx-auto">Back to crossmatches</a>
{% endif %}
</div>
</div>
<p></p>
<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-info mb-3 text-white">{{ subquery_type }} {{ title }} Sources for Image {{ image.pk }}</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
    <p class="card-text">Click on an image to go to the crossmatch detail page.
<p></p>
There are <b>{{ total }}</b> sources listed below.
<p></p>
</div>
</div>
<div class="col text-center">
{% for e in crossmatch_sources %}
{% if query %}
<b>{{ e.pipelinetag }} </b> {{ e.master_name }} ({{ e.survey }}) ({{ e.transient_type }})
     <a href="{% url 'crossmatch_detail_query' e.id %}" >
     <img src="{% static e.ploturl %}" class="mx-auto d-block" width="95%" height="95%"/></a>
{% else %}
<b>{{ e.pipelinetag }} </b> {{ e.master_name }} ({{ e.survey }}) ({{ e.transient_type }})
     <a href="{% url 'image_crossmatches_detail' image.pk e.id %}" >
     <img src="{% static e.ploturl %}" class="mx-auto d-block" width="95%" height="95%"/></a>
{% endif %}
{% endfor %}
</div>
</div>

{% endblock %}
