{% extends 'base.html' %}
{% load static %}
{% load units %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
<li class="breadcrumb-item"><a href="{% url 'image_detail' image.pk %}">{{ image.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url type_url image.pk %}">{{ title }}</a></li>
<li class="breadcrumb-item active">{{ crossmatch_source.sumss_name }}</li>
{% endblock %}

 {% block content %}   
 {% if not user.is_authenticated %}
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>You must be logged in to assign a user tag!</strong>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endif %}
 {% if crossmatch_source.checkedby != "N/A" %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>This source is already marked as checked!</strong> Checked by <strong>{{ crossmatch_source.checkedby }}</strong>, tag: <strong>{{ crossmatch_source.usertag }}</strong>, reason: <strong>{{ crossmatch_source.userreason }}</strong>.
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endif %}
 {% if saved %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
   <strong>User tag has been saved.</strong>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endif %}
 
 {% if updated %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
   <strong>Your user tag has been updated.</strong>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endif %}
 
 {% if saved == False and updated == False %}
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>User tag has not been saved.</strong> There is a previous definition.
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endif %}
 
    <div class="container">
      <div class="row">
        <div class="col text-center">
            {% if crossmatch_source.match_id > min_id %}
         <a href="{% url 'crossmatch_detail' pk=image.pk querytype=type cross_id=crossmatch_source.match_id|add:"-1" %}" class="btn btn-primary mx-auto">Previous Source</a>
         {% else %}
         <button type="button" class="btn btn-primary mx-auto" disabled>Previous Source</button>
             {% endif %}
             {% if crossmatch_source.match_id < max_id %}
             <a href="{% url 'crossmatch_detail' pk=image.pk querytype=type cross_id=crossmatch_source.match_id|add:"1" %}" class="btn btn-primary mx-auto">Next Source</a>
             {% else %}
              <button type="button" class="btn btn-primary mx-auto" disabled>Next Source</button>
              {% endif %}
        </div>
      </div>
    </div>

 <div class="card mb-3 mx-auto">
  <h5 class="card-header bg-info mb-1 text-white">User Tag Assign Options</h5>
   <div class="card-body">
       <div class="col text-center">
        {% if user.is_authenticated %}
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=ignore&userreason=is%20match" class="btn btn-success mx-auto btn-sm">There is a match</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=ignore&userreason=sumss%20extended" class="btn btn-success mx-auto btn-sm">SUMSS Extended/Diffuse</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=ignore&userreason=bright%20source" class="btn btn-success mx-auto btn-sm">Close to bright source</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=ignore&userreason=askap%20double" class="btn btn-success mx-auto btn-sm">ASKAP double</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=help&userreason=not%20sure" class="btn btn-warning mx-auto btn-sm">Not sure</a><br><br>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=investigate&userreason=sumss%20non-detection" class="btn btn-danger mx-auto btn-sm">SUMSS Non-detection</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=investigate&userreason=askap%20non-detection" class="btn btn-danger mx-auto btn-sm">ASKAP Non-detection</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=problem&userreason=edge%20of%20field" class="btn btn-secondary mx-auto btn-sm">Edge of Field</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=problem&userreason=out%20of%20range" class="btn btn-secondary mx-auto btn-sm">Out of Range</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=problem&userreason=sumss%20artefact" class="btn btn-secondary mx-auto btn-sm">SUMSS artefact</a>
       <a href="{% url 'crossmatch_commit' pk=image.pk querytype=type cross_id=crossmatch_source.match_id %}?username={{user.username}}&usertag=problem&userreason=askap%20artefact" class="btn btn-secondary mx-auto btn-sm">ASKAP artefact</a>
       {% else %}
       <button type="button" class="btn btn-success mx-auto btn-sm" disabled>There is a match</button>
       <button type="button" class="btn btn-success mx-auto btn-sm" disabled>SUMSS Extended/Diffuse</button>
       <button type="button" class="btn btn-success mx-auto btn-sm" disabled>Close to bright source</button>
       <button type="button" class="btn btn-success mx-auto btn-sm" disabled>ASKAP double</button>
       <button type="button" class="btn btn-warning mx-auto btn-sm" disabled>Not sure</button><br><br>
       <button type="button" class="btn btn-danger mx-auto btn-sm" disabled>SUMSS Non-detection</button>
       <button type="button" class="btn btn-danger mx-auto btn-sm" disabled>ASKAP Non-detection</button>
       <button type="button" class="btn btn-secondary mx-auto btn-sm" disabled>Edge of Field</button>
       <button type="button" class="btn btn-secondary mx-auto btn-sm" disabled>Out of Range</button>
       <button type="button" class="btn btn-secondary mx-auto btn-sm" disabled>SUMSS artefact</button>
       <button type="button" class="btn btn-secondary mx-auto btn-sm" disabled>ASKAP artefact</button>
       {% endif %}
   </div>
   </div>
 </div>
 
 
 <div class="card mb-3 mx-auto">
  <h5 class="card-header bg-info mb-3 text-white">Crossmatch Plot</h5>
   <div class="card-body">
     <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
     <img src="{% static crossmatch_source.ploturl %}" class="mx-auto d-block" width="100%" height="100%"/>
   </div>
 </div>
     
<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-info mb-3 text-white">Crossmatch Details</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
    <p class="card-text"><b>Right Ascension:</b> {{crossmatch_source.ra|deg_to_hms}}<br>
    <b>Declination:</b> {{crossmatch_source.dec|deg_to_dms}}<br>
    <b>ASKAP Int Flux:</b> {{crossmatch_source.askap_iflux|jy_to_mjy}} +/- {{crossmatch_source.askap_iflux_e|jy_to_mjy}} mJy<br>
    <b>SUMSS Int Flux:</b> {{crossmatch_source.sumss_iflux}} +/- {{crossmatch_source.sumss_iflux_e}} mJy<br>
    <b>SUMSS SNR:</b> {{crossmatch_source.sumss_snr}}</p>
  </div>
</div>

{% endblock %}
