{% extends 'base.html' %}
{% load static %}
{% load units %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

    {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
        <li class="breadcrumb-item"><a href="{% url 'image_detail' image.pk %}">{{ image.name }}</a></li>
        <li class="breadcrumb-item active ">Good Matches</li>
    {% endblock %}
    
    {% block content %}
        <div class="container">
          <div class="row">
            <div class="col-md-auto text-left">
        <a href="{% url 'nosumssmatchtoaskap' image.pk %}" class="btn btn-info mx-auto">No SUMSS Match to ASKAP</a>
        <a href="{% url 'noaskapmatchtosumss' image.pk %}" class="btn btn-info mx-auto">No ASKAP Match to SUMSS</a>
        <a href="{% url 'largeratio' image.pk %}" class="btn btn-info mx-auto">Large Flux Ratio</a></p>
    </div>
         <div class="col text-right">
         <a href="{% querystring '_export'='csv' %}" class="btn btn-success mx-auto">Download as CSV</a></p>
    </div>
     </div>
      </div>
     {% render_table table %}
      {% endblock %}