{% extends 'base.html' %}
{% load static %}
{% load units %}
{% load comments %}

{% block breadcrumb %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
 <li class="breadcrumb-item active">{{ image.name }}</li>
{% endblock %}


{% block content %}

 {% if claim_attempt and claimed_success %}
  <div style="position: fixed; top: 0; right: 0; z-index: 99">
 <div class="alert alert-success alert-dismissible fade show" role="alert">
   <strong>Image successfully claimed!</strong>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
</div>
 {% endif %}
 
 {% if claim_attempt and not claimed_success %}
  <div style="position: fixed; top: 0; right: 0; z-index: 99">
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>Image claim failed!</strong>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
</div>
 {% endif %}

<div class="container">
  <div class="row">
    <div class="col text-center">
{% if image.claimed_by == "Unclaimed" and user.is_authenticated %}
<a href="{% url 'image_detail_claim' image.pk %}" class="btn btn-success mx-auto">Claim Image</a></p>
{% else %}
<h5>Image claimed by <b>{{ image.claimed_by }}</b>.</h5></p>
    {% if user.is_staff or user.get_username == image.claimed_by %}
    <a href="{% url 'image_detail_reset' image.pk %}" class="btn btn-success mx-auto">Unclaim Image</a></p>
    {% endif %}
{% endif %}
    </div>
     </div>
<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-secondary mg-1 text-white">Transient Search Outputs</h5>
  <div class="card-body">
    <p class="card-text">
            <div class="col text-center">
        <a href="{% url 'transients' image.pk 'candidates' %}" class="btn btn-success mx-auto">Transients Candidates Only ({{ image.transients_master_candidates_total }})</a>
        <a href="{% url 'transients' image.pk 'flagged' %}" class="btn btn-danger mx-auto">Transients Flagged Candidates ({{ image.transients_master_flagged_total }})</a>
        <a href="{% url 'transients' image.pk 'all' %}" class="btn btn-primary mx-auto">View all Crossmatch Output ({{ image.transients_master_total }})</a>
    </div>
  </div>
</div>

<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-info mb-3 text-white">Image Details</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
    <p class="card-text">
        <b>Image Location:</b> {{image.url}} </p>
        <b>Image Location (Non-convolved):</b> {{image.url_2}} </p>
        <b>Right Ascension:</b> {{image.ra|deg_to_hms}} ({{image.ra}}d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <b>Number of ASKAP Sources:</b> {{image.number_askap_sources}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <b>RMS Estimate:</b> {{image.rms|jy_to_mjy|floatformat:3}} mJy<br>
    <b>Declination:</b> {{image.dec|deg_to_dms}} ({{image.dec}}d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <b>Number of SUMSS Sources:</b> {{image.number_sumss_sources}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<b>Number of NVSS Sources:</b> {{image.number_nvss_sources}}<br></p>
        <b>Catalogues Matched to:</b> {{ image.matched_to }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'image_detail' pk=image.pk %}#comments">Go to comments.</a>
  </div>
</div>

<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-info mb-3 text-white">Processing Options Used</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
    <p class="card-text"><!-- <b>Aegean Detection Sigma: </b>{{ processing_options.aegean_det_sigma }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Aegean Fill Sigma: </b>{{ processing_options.aegean_fill_sigma }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <b>Max Transient Separation: </b>{{ processing_options.max_separation }} arcsec</p>
    <p class="card-text"><b>ASKAP Extended Threshold: </b>{{ processing_options.askap_ext_thresh }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>SUMSS Extended Threshold: </b>{{ processing_options.sumss_ext_thresh }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>NVSS Extended Threshold: </b>{{ processing_options.nvss_ext_thresh }}</p>
    <p class="card-text"><b>ASKAP CSV: </b>{{ processing_options.askap_csv }}</p>
    <p class="card-text"><b>SUMSS CSV: </b>{{ processing_options.sumss_csv }}</p>
    <p class="card-text"><b>NVSS CSV: </b>{{ processing_options.nvss_csv }}</p>
    <p class="card-text"><b>Output Directory: </b>{{ processing_options.output_dir }}</p>
  </div>
</div>

<div class="card mb-3 mx-auto">
 <h5 class="card-header bg-dark mb-3 text-white">Diagnostic Plots</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ image.name}} details</h5> -->
    <p class="card-text">
    <a href="{% static processing_options.flux_ratio_image_view %}" >
    <img src="{% static processing_options.flux_ratio_image_view %}" class="mx-auto d-block" width="90%" height="90%"/></a>
    <a href="{% static processing_options.position_offset %}" >
    <img src="{% static processing_options.position_offset %}" class="mx-auto d-block" width="90%" height="90%"/></a>
    <a href="{% static processing_options.source_counts %}" >
    <img src="{% static processing_options.source_counts %}" class="mx-auto d-block" width="90%" height="90%"/></a>
    <a href="{% static processing_options.flux_ratios %}" >
    <img src="{% static processing_options.flux_ratios %}" class="mx-auto d-block" width="90%" height="90%"/></a>
    <a href="{% static processing_options.flux_ratios_from_centre %}" >
    <img src="{% static processing_options.flux_ratios_from_centre %}" class="mx-auto d-block" width="90%" height="90%"/></p></a>
    <a href="{% static processing_options.askap_overlay %}" >
    <img src="{% static processing_options.askap_overlay %}" class="mx-auto d-block" width="90%" height="90%"/></a>
    {% if image.matched_to == "SUMSS" or image.matched_to == "SUMSS & NVSS" %}
    <a href="{% static processing_options.sumss_overlay %}" >
    <img src="{% static processing_options.sumss_overlay %}" class="mx-auto d-block" width="90%" height="90%"/></a></p>
    {% endif %}
    {% if image.matched_to == "NVSS" or image.matched_to == "SUMSS & NVSS" %}
        <a href="{% static processing_options.nvss_overlay %}" >
        <img src="{% static processing_options.nvss_overlay %}" class="mx-auto d-block" width="90%" height="90%"/></a></p>
    {% endif %}
  </div>
</div>


<h3>Comments</h3>
<a name="comments"></a>
{% render_comment_list for image %}
{% if user.is_authenticated %}
    {% get_comment_form for image as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'image_detail' pk=image.pk %}" /></p>
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}

<script type="text/javascript">
window.setTimeout(function () {
    $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
    });
    $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
    });
}, 2000);
</script>
{% endblock %}

