{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Images</a></li>
<li class="breadcrumb-item active">Search</li>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">User Tag Search Form</h3>
              <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

